<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login Page</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>
    <div class="container">
        <h2>DashBoard</h2>

        <!-- Display the error message if it exists -->
        <div th:if="${username}">
            <p>Benvenuto <span th:text="${username}"></span></p>
            <p><a href="/login">Logout</a></p>

            <ul>
                <li th:each="chat : ${chats}" th:text="${chat.name}"></li>
            </ul>
        </div>
    
    </div>
</body>
</html>
